body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


#main {
  position: relative;
}

.clear {
  clear: both;
}

#slider {
  position: relative;
  margin-top: 136px;
  padding-top: 50%;
  background: linear-gradient(
    to right,
    rgba(17, 182, 131, 0.7) -10%,
    rgba(255, 51, 102, 0) 50%
  ),
  url(./image/slider.jpeg) top center / cover no-repeat;
}

#slider .text-slider {
  color: #fff;
  padding-left: 50px;
  position: absolute;
  top: 50px;
}

#slider .btn-register-slider {
  display: inline-block;
  background-color: #ff3366;
  color: #fff;
  margin-top: 45px;
  padding: 14px 38px;
  border-radius: 35px;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  text-align: center;
}

#slider .btn-register-slider:hover {
  border: 0;
  background-color: #11b683;
  transition: 500ms ease-in-out;
}

.text-slider .heading-text {
  font-size: 80px;
}

.text-slider .des-text {
  font-size: 30px;
  font-weight: 300;
  margin-top: 40px;
  /* text-align: justify; */
  display: block;
  text-transform: none;
}

#content {
  background-color: rgb(243, 246, 253);
  min-height: 500vh;
  margin-top: 0;
  position: relative;
}

.findProduct {
  margin-top: 30px;
  position: absolute;
  display: inline-block;
}

.findProduct span {
  margin: 0 20px;
}

.findProduct input {
  border-radius: 30px;
  margin-right: 20px;
  padding-left: 8px;
  width: 300px;
}

.findProduct .category-list {
  margin: 0 20px;
  padding: 4px;
  border-radius: 30px;
}

.price-list {
  margin: 0 20px;
  padding: 4px;
  border-radius: 30px;
}

.findProduct .btn-search {
  background-color: #ff3366;
  margin: 5px 10px 10px;
  border-radius: 20px;
  color: #fff;
}

.btn-search:hover {
  background-color: #11b683 !important;
  transition: 400ms ease-in-out;
}

.sortProduct {
  position: absolute;
  width: 70%;
  margin-top: 100px;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #ccc;
  height: 60px;
  border-radius: 15px;
}

.sortByTime span {
  font-size: 20px;
  padding: 0 45px;
  cursor: pointer;
}

.sortByTime span:hover {
  color: #11b683;
  transition: 300ms ease-in-out;
}

.sortByTime span:hover img {
  filter: invert(52%) sepia(76%) saturate(475%) hue-rotate(110deg) brightness(93%) contrast(92%);
  transition: 300ms ease-in-out;
}

.sortByTime .icon-sort-time {
  margin-bottom: 4px;
  margin-right: 4px;
}

.sortByCategory {
  position: absolute;
  margin-top: 190px;
  left: 50%;
  transform: translate(-50%);
}

.sortByCategory .btn-sortByCategory {
  background-color: #ff3366;
  margin: 0 15px;
  border-radius: 15px;
  color: #fff;
}

.btn-sortByCategory:hover {
  background-color: #11b683 !important;
  transition: 300ms ease-in-out;
}

.line-chart-down {
}

.sortByCategory {
}

/* Bắt đầu - CSS cho list-product */
.list-product {
  position: absolute;
  display: inline-block;
  margin-top: 285px;
  text-align: center;
  width: 100%;
}

.list-product .auction-name-h3 {
  font-size: 48px;
  line-height: 1.375;
  letter-spacing: 0.06em;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #2c2b30;
}

.list-product .driver-default {
  display: inline-block;
  border: 0;
  font-size: 0;
  line-height: 0;
  height: 3px;
  max-width: 100px;
  width: 100%;
  background: linear-gradient(to right, #ff3366 50%, #ff3366 120%);
}

.list-product .product-auction {
  background-color: #fff;
  border-radius: 9px;
  box-shadow: none;
  /* padding-top: 120px; */
  height: 400px;
  width: 100%;
  margin-top: 25px;

}

.product-auction .product-counter-inner {
  background-color: #11b683;
  color: #c2c2c3;
  border-radius: 9px 9px 0 0;
  padding: 15px;
}

.product-auction .product-image img {
  width: 60%;
  height: auto;
  padding: 20px 0;
}

.product-auction .product-title {
  height: 55px;
  margin: 0 10px;
}

.product-auction .product-title a {
  color: #ff3366;
  text-decoration: none;
  font-size: 18px;
}

.product-auction .product-price {
  text-align: left;
  margin-top: 20px;
  display: inline-flex;
}

.product-price h5 {
  margin-left: 6px;
  font-weight: 600;
}

.product-btn .button-auction-product {
  background-color: #ff3366;
  color: #fff;
  padding: 5px 25px;
  border-radius: 15px;
  display: none;
}

/*.product-auction:hover {*/
/*  box-shadow: 0 5px 12px 0 #dcdeec !important;*/
/*  height: 416px !important;*/
/*  z-index: 2 !important;*/
/*  margin-bottom: -30px;*/
/*}*/

/*.product-auction:hover .product-image {*/
/*  padding: 10px;*/
/*}*/

/*.product-auction:hover .product-title a {*/
/*  color: #11b683;*/
/*  transition: 300ms ease-in-out;*/
/*}*/

/*.product-auction:hover .button-auction-product {*/
/*  display: inline-block;*/
/*  transition: 300ms ease-in-out;*/
/*}*/

/*.button-auction-product:hover {*/
/*  background-color: #11b683 !important;*/
/*  transition: 300ms ease-in-out;*/
/*}*/

/* Kết thúc - CSS cho list-product */

.footer {
}

/* Mobile width <740px */
@media only screen and (max-width: 739px) {
  * {
    font-size: 13px;
  }

  .clear {
    clear: both;
  }


  #slider {
    margin-top: 68px;
  }

  #slider .text-slider {
    color: #fff;
    padding-left: 22px;
    padding-right: 15px;
    top: 40px;
  }

  #slider .btn-register-slider {
    margin-top: 0px;
    padding: 5px 7px;
    border-radius: 29px;
    letter-spacing: 0.1em;
    font-size: 13px;
  }

  #slider .btn-register-slider:hover {
    border: 0;
    background-color: #11b683;
  }

  .text-slider .heading-text {
    font-size: 25px;
  }

  .text-slider .des-text {
    font-size: 13px;
    font-weight: 300;
    margin-top: 10px;
    text-align: justify;
  }

  .findProduct {
    margin-top: 15px;
  }

  .findProduct span {
    margin: 20px;
  }

  .findProduct input {
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-left: 8px;
  }

  .findProduct .category-list {
    width: 90%;
    margin: 0 20px 10px;
    padding: 4px;
  }

  .price-list {
    width: 90%;
    margin: 0 20px;
    padding: 4px;
    font-size: 13px;
  }

  .findProduct .btn-search {
    font-size: 13px;
    margin: 10px 20px;
    padding: 6px 10px;
    border-radius: 15px;
    display: block;
    color: #fff;
  }

  .sortProduct {
    width: 95%;
    margin-top: 206px;
    height: 35px;
    border-radius: 15px;
  }

  .sortByTime .icon-sort-time {
    margin-bottom: 0px;
    margin-right: 0px;
  }

  .sortByTime span {
    font-size: 13px;
    padding: 0 4px;
    cursor: pointer;
  }

  .sortByTime span svg {
    display: none;
  }

  .sortByTime span img {
    display: none;
  }

  .sortByCategory {
    position: absolute;
    margin-top: 246px;
    width: 100%;
    /* margin-left: 20px; */
  }

  .sortByCategory .btn-sortByCategory {
    font-size: 13px;
    margin: 5px 20px;
  }

  button.btn.btn-sortByCategory.technology {
    padding-right: 24px;
  }

  button.btn.btn-sortByCategory.hot {
    margin: 5px 20px;
    padding: 5px 16.5px;
  }

  button.btn.btn-sortByCategory.other {
    margin: 0 -10px;
  }

  /* Bắt đầu - CSS cho list-product */
  .list-product {
    margin-top: 350px;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
  }

  .list-product .product-auction {
    background-color: #fff;
    border-radius: 9px;
    box-shadow: none;
    /* padding-top: 120px; */
    height: 425px;
    width: 100%;
    margin-top: 25px;
  }

  .list-product .auction-name-h3 h3 {
    font-size: 18px !important;
  }

  .product-auction .product-counter-inner div {
    font-size: 15px;
  }

  .product-auction .product-image img {
    width: 60%;
    height: auto;
    padding: 20px 0;
  }

  .product-auction .product-title {
    height: 40px;
  }

  .product-auction .product-title a {
    font-size: 16px !important;
  }

  .product-auction .product-price {
    margin-top: 10px;
  }

  .product-auction .product-price p {
    font-size: 15px;
  }

  .product-btn .button-auction-product {
    background-color: #ff3366;
    color: #fff;
    padding: 5px 25px;
    border-radius: 15px;
    display: inline-block;
  }

  .product-price h5 {
    margin-left: 6px;
    font-weight: 600;
    margin-top: 2px;
    font-size: 15px;
  }

  /* Kết thúc - CSS cho list-product */
}

/* Tablet width >=740px and width <1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  * {
    font-size: 15px;
  }

  #header .right-header {
    display: none;
  }

  /* #header {
    background-color: #fff;
    height: 104px;
  } */
  #header .logo {
    padding: 10px 0px 10px 5px;
  }

  #header .logo img {
    width: 60%;
    margin-top: 8px;
    margin-left: 0px;
  }

  #header .logo #justify-header {
    color: #2c2b30;
    display: inline-block;
  }

  #slider {
    margin-top: 136px;
  }

  #slider .text-slider {
    color: #fff;
    padding-left: 22px;
    padding-right: 15px;
    top: 40px;
  }

  #slider .btn-register-slider {
    margin-top: 10px;
    padding: 10px 13px;
    border-radius: 20px;
    letter-spacing: 0.13em;
    font-size: 15px;
  }

  #slider .btn-register-slider:hover {
    border: 0;
    background-color: #11b683;
  }

  .text-slider .heading-text {
    font-size: 40px;
  }

  .text-slider .des-text {
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    text-align: justify;
  }

  .findProduct {
    margin-top: 15px;
  }

  .findProduct span {
    margin: 20px;
  }

  .findProduct input {
    width: 95%;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-left: 8px;
  }

  .findProduct option {
    font-size: 15px;
  }

  .findProduct .category-list {
    width: 95%;
    margin: 0 20px 10px;
    padding: 4px;
  }

  .price-list {
    width: 95%;
    margin: 0 20px;
    padding: 4px;
    font-size: 15px;
  }

  .product-price h5 {
    margin-top: 2px;
  }

  .findProduct .btn-search {
    margin: 10px 20px;
    padding: 2px 10px;
    border-radius: 10px;
    display: block;
    color: #fff;
  }

  .sortProduct {
    width: 95%;
    margin-top: 210px;
    height: 35px;
    border-radius: 15px;
  }

  .sortByTime span {
    font-size: 15px;
    padding: 0 30px;
    cursor: pointer;
  }

  .sortByCategory {
    position: absolute;
    margin-top: 258px;
    width: 100%;
    /* margin-left: 55px; */
  }

  /* Bắt đầu - CSS cho list-product */
  .list-product {
    margin-top: 350px;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
  }

  .list-product .product-auction {
    background-color: #fff;
    border-radius: 9px;
    box-shadow: none;
    /* padding-top: 120px; */
    height: 450px;
    width: 100%;
    margin-top: 25px;
  }

  .product-auction .product-counter-inner div {
    font-size: 15px;
  }

  .product-auction .product-image img {
    width: 70%;
    height: auto;
    padding: 12px 0;
  }

  .product-auction .product-title {
    height: 40px;
  }

  .product-auction .product-price p {
    font-size: 15px;
  }

  .product-btn .button-auction-product {
    background-color: #ff3366;
    color: #fff;
    padding: 5px 25px;
    border-radius: 15px;
    display: inline-block;
  }

  /* Kết thúc - CSS cho list-product */
}

/* PC width >= 1024px */
@media only screen and (min-width: 1025px) {
  .findProduct {
    margin-top: 30px;
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .sortProduct {
    position: absolute;
    width: 90%;
    margin-top: 100px;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ccc;
    height: 60px;
    border-radius: 15px;
  }


  .sortByCategory {
    position: absolute;
    margin-top: 190px;
    width: 100%;
    margin-left: 32px;
    text-align: center;
  }

  .product-auction:hover {
    box-shadow: 0 5px 12px 0 #dcdeec !important;
    height: 416px !important;
    z-index: 2 !important;
    margin-bottom: -30px;
  }

  .product-auction:hover .product-image {
    padding: 10px;
  }

  .product-auction:hover .product-title a {
    color: #11b683;
    transition: 300ms ease-in-out;
  }

  .product-auction:hover .button-auction-product {
    display: inline-block;
    transition: 300ms ease-in-out;
  }

  .button-auction-product:hover {
    background-color: #11b683 !important;
    transition: 300ms ease-in-out;
  }


}

/* Reponsive riêng cho màn hình width=600px */
@media only screen and (width: 600px) {
  #header .right-header {
    display: none;
  }

  ul#navbar {
    justify-content: center;
  }

  .sortProduct .sortByTime span {
    padding: 0 15px;
  }

  .sortByTime span svg {
    display: inline-block;
  }

  .sortByTime span img {
    display: inline-block;
  }

  .sortByCategory {
    position: absolute;
    width: 100%;
  }

  .sortByCategory .btn-sortByCategory {
    font-size: 13px;
    margin: 5px 12px;
  }

  button.btn.btn-sortByCategory.technology {
    padding-right: 24px;
  }

  button.btn.btn-sortByCategory.hot {
    margin: 5px 15px;
    padding: 5px 16.5px;
  }

  button.btn.btn-sortByCategory.other {
    margin: 0 9px;
  }

  /* Bắt đầu - CSS cho list-product */
  .list-product {
    margin-top: 320px;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
  }

  .product-auction .product-counter-inner div {
    font-size: 15px;
  }

  .product-auction .product-image img {
    width: 60%;
    height: auto;
    padding: 20px 0;
  }

  .product-auction .product-title {
    height: 50px;
  }

  .product-auction .product-title h5 {
    font-size: 15px;
  }

  .product-auction .product-price {
    text-align: left;
    margin-top: 25px;
    display: inline-flex;
  }

  .product-auction .product-price p {
    font-size: 15px;
  }

  /* Kết thúc - CSS cho list-product */
}

/* Reponsive riêng cho màn hình width=1024px */
@media only screen and (width: 1024px) {
  .sortProduct {
    position: absolute;
    width: 90%;
    margin-top: 100px;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ccc;
    height: 60px;
    border-radius: 15px;
  }

  .sortByTime span {
    padding: 0 40px;
  }

  .findProduct {
    margin-top: 30px;
    position: absolute;
    display: inline-block;
    margin-left: 38px;
    width: 100%;
  }

  .findProduct span {
    margin: 0 15px;
  }

  .findProduct input {
    margin-right: 15px;
  }

  .findProduct .category-list {
    margin: 0 15px;
    padding: 4px;
  }

  button.btn.btn-sortByCategory:hover {
    background-color: #11b683;
  }

  .price-list {
    margin: 0 15px;
    padding: 4px;
  }

  .findProduct .btn-search {
    background-color: #ff3366;
    margin: 5px 10px 10px;
    border-radius: 20px;
    color: #fff;
  }

  .btn-search:hover {
    background-color: #11b683;
  }

  .sortByCategory {
    position: absolute;
    margin-top: 190px;
    width: 100%;
    margin-left: 32px;
  }

  .sortByCategory .btn-sortByCategory {
    background-color: #ff3366;
    margin: 0 15px;
    border-radius: 15px;
    color: #fff;
  }

  /* Bắt đầu - CSS cho list-product */
  .list-product {
    margin-top: 270px;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
  }
  .list-product .product-auction {
    height: 470px;
  }

  .product-auction .product-counter-inner div {
    font-size: 15px;
  }

  .product-auction .product-image img {
    width: 70%;
    height: auto;
    padding: 20px 0;
  }

  .product-auction .product-title {
    height: 50px;
  }

  .product-auction .product-title h5 {
    font-size: 18px;
  }

  .product-auction .product-price {
    text-align: left;
    margin-top: 50px;
    display: inline-flex;
  }

  .product-auction .product-price p {
    font-size: 15px;
  }

  .product-auction .product-price h5 {
    font-size: 15px;
    margin-top: 2px;
  }

  .product-auction:hover {
    height: 450px;
  }

  .product-btn .button-auction-product {
    background-color: #ff3366;
    color: #fff;
    padding: 5px 25px;
    border-radius: 15px;
    display: inline-block;
  }

  /* Kết thúc - CSS cho list-product */
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .list-product .product-auction {
    height: 450px;
    width: 100%;
    margin-top: 25px;
  }
  .findProduct {
    margin-top: 30px;
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .sortProduct {
    position: absolute;
    width: 90%;
    margin-top: 100px;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ccc;
    height: 60px;
    border-radius: 15px;
  }


  .sortByCategory {
    position: absolute;
    margin-top: 190px;
    width: 100%;
    margin-left: 32px;
    text-align: center;
  }



}
