<script src="src/assets/js/remaining-time-home.js"></script>
<div id="main">
  <div id="slider">
    <div class="text-slider">
      <h2 class="heading-text">AUCTION</h2>
      <p class="des-text">Online Auction is where everyone goes to shop, sell,
        and give, while discovering variety and affordability.</p>

      <a href="" class="btn btn-register-slider">REGISTER NOW</a>
    </div>
  </div>
  <div id="content">
    <div class="findProduct">
      <form [formGroup]="formSearch" (ngSubmit)="searchForm()">
        <label for="input-name">
          <span>Enter product name:</span>
        </label>
        <input [(ngModel)]="nameProductSearch" id="input-name" type="text" placeholder=" Name product..." formControlName="nameProduct">

        <select name="category-list" id="category-list" class="category-list" formControlName="typeProductname">
          <option value="">All categories</option>
          <option value="Home Appliance">Home Appliance</option>
          <option value="Technology">Technology</option>
          <option value="Hot">Hot</option>
          <option value="Other">Other</option>
        </select>

        <select name="price-list" id="price-list" class="price-list" formControlName="priceRange">
          <option value="">All Prices</option>
          <option value="$0 – $5">$0 – $5</option>
          <option value="$5 – $25">$5 – $25</option>
          <option value="$25 – $50">$25 – $50</option>
          <option value="$50 - $250">$50 - $250</option>
          <option value="Over $250">Over $250</option>
        </select>
        <button class="btn btn-search" data-toggle="modal" data-target="#myModal">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-search" viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
          Search
        </button>
      </form>


      <!-- Start Modal -->
      <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle" style="color: orange">Warning</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="text-align: left">
              <p style="font-weight: bold; color: red" *ngFor="let c of messageAlert">{{c}}</p>
              <p>Please re-enter. Thanks!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->

    </div>
    <div class="sortProduct ">
      <div class="sortByTime ">
                    <span class="auction icon-sort-time" (click)="showListProductAuction()">
<!--                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"-->
                      <!--                             class="bi bi-hammer" viewBox="0 0 16 16">-->
                      <!--                            <path-->
                      <!--                                    d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z"/>-->
                      <!--                        </svg>-->
                        <img class="icon-sort-time" src="./assets/home-header/image/auction%202.svg"
                             style="width: 22px; height: 22px">
                        Auction in progress
                            </span>
        <span class="auction-end " (click)="showListProductFinished()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                             class="bi bi-bag-x-fill icon-sort-time" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM6.854 8.146a.5.5 0 1 0-.708.708L7.293 10l-1.147 1.146a.5.5 0 0 0 .708.708L8 10.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 10l1.147-1.146a.5.5 0 0 0-.708-.708L8 9.293 6.854 8.146z"/>
                              </svg>
                        Finished
        </span>
        <span class="auction-result">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                             class="bi bi-clipboard-minus-fill icon-sort-time" viewBox="0 0 16 16">
                            <path
                              d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z"/>
                            <path
                              d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1ZM6 9h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1 0-1Z"/>
                        </svg>
                        Result
        </span>
        <span class="auction-top5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                             class="bi bi-bar-chart-fill icon-sort-time" viewBox="0 0 16 16">
                            <path
                              d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
                        </svg>
                        Top 5 Auctions
        </span>
      </div>

    </div>
    <div class="sortByCategory">
      <button class="btn btn-sortByCategory" (click)="showListProductAuction()">All categories</button>
      <button class="btn btn-sortByCategory" (click)="sortListProductByTypeProductName('Home Appliance')">Home
        Appliance
      </button>
      <button class="btn btn-sortByCategory technology" (click)="sortListProductByTypeProductName('Technology')">
        Technology
      </button>
      <button class="btn btn-sortByCategory hot" (click)="sortListProductByTypeProductName('hot')">Hot</button>
      <button class="btn btn-sortByCategory other" (click)="sortListProductByTypeProductName('other')">Other</button>
    </div>

    <div class="list-product">
      <div class="auction-name-h3">
        <h3>AUCTION PRODUCT</h3>
      </div>
      <div class="driver-default"></div>

      <div class="container">
        <div class="row">
          <!-- Sản phẩm 1 -->
          <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6" *ngFor="let product of products">
            <div class="product-auction">
              <div class="product-counter-inner">
                <div>TIME LEFT: <span style="color: #fff;" id="time-remain">{{product.remainingTime}}</span></div>
              </div>
              <div class="product-image">
<!--                <a href="/"><img src="https://firebasestorage.googleapis.com/v0/b/a0721i1.appspot.com/o/A0721I1-croissant-trung-muoi_880850.jpg?alt=media&token=6c43c7ca-a6a9-4550-8b3c-44ce5832b12d" alt="Flycame"></a>-->
                <a href="/"><img [src]="product.imageProductList.imageProduct" alt="Flycame" onError="this.src='./assets/home-header/image/Image_not_available.png'"></a>
              </div>
              <div class="product-title">
                <h5>
                  <a href="/">{{product.nameProduct}}</a>
                </h5>
              </div>
              <div class="product-price">
                <p style="color: #838386;">Current Price ($):</p>
                <h5>{{product.finalPrice}}</h5>
              </div>
              <div class="product-btn">
                <a class="btn button-auction-product" href="/" [hidden]="checkFinished==true">AUCTION</a>
              </div>
            </div>
          </div>
          <!--  -->

          <!--                    &lt;!&ndash; Sản phẩm 2 &ndash;&gt;-->
          <!--                    <div class="col-xl-3 col-md-6 col-lg-6 col-sm-6 col-sm-6">-->
          <!--                      <div class="product-auction">-->
          <!--                        <div class="product-counter-inner">-->
          <!--                          <div>REMAINING TIME: <span style="color: #fff;">00:08:50</span></div>-->
          <!--                        </div>-->
          <!--                        <div class="product-image">-->
          <!--                          <a href="/"><img src="./assets/home-header/image/product-image/biker.jpeg" alt="Flycame"></a>-->
          <!--                        </div>-->
          <!--                        <div class="product-title">-->
          <!--                          <h5>-->
          <!--                            <a href="/">Fyxation Eastside Crimson Roja – Bicicleta Urbana 1</a>-->
          <!--                          </h5>-->
          <!--                        </div>-->
          <!--                        <div class="product-price">-->
          <!--                          <p style="color: #838386;">Current Price ($):</p>-->
          <!--                          <h5>190</h5>-->
          <!--                        </div>-->
          <!--                        <div class="product-btn">-->
          <!--                          <a class="btn button-auction-product" href="/">AUCTION</a>-->
          <!--                        </div>-->
          <!--                      </div>-->
          <!--                    </div>-->
          <!--                    &lt;!&ndash;  &ndash;&gt;-->

          <!--          &lt;!&ndash; Sản phẩm 3 &ndash;&gt;-->
          <!--          <div class="col-xl-3 col-md-6 col-lg-6 col-sm-6">-->
          <!--            <div class="product-auction">-->
          <!--              <div class="product-counter-inner">-->
          <!--                <div>REMAINING TIME: <span style="color: #fff;">00:15:50</span></div>-->
          <!--              </div>-->
          <!--              <div class="product-image">-->
          <!--                <a href="/"><img src="./assets/home-header/image/product-image/deer.jpeg" alt="Flycame"></a>-->
          <!--              </div>-->
          <!--              <div class="product-title">-->
          <!--                <h5>-->
          <!--                  <a href="/">Brass Reclining Deer</a>-->
          <!--                </h5>-->
          <!--              </div>-->
          <!--              <div class="product-price">-->
          <!--                <p style="color: #838386;">Current Price ($):</p>-->
          <!--                <h5>125</h5>-->
          <!--              </div>-->
          <!--              <div class="product-btn">-->
          <!--                <a class="btn button-auction-product" href="/">AUCTION</a>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          &lt;!&ndash;  &ndash;&gt;-->

          <!--          &lt;!&ndash; Sản phẩm 4 &ndash;&gt;-->
          <!--          <div class="col-xl-3 col-md-6 col-lg-6 col-sm-6">-->
          <!--            <div class="product-auction">-->
          <!--              <div class="product-counter-inner">-->
          <!--                <div>REMAINING TIME: <span style="color: #fff;">00:11:25</span></div>-->
          <!--              </div>-->
          <!--              <div class="product-image">-->
          <!--                <a href="/"><img src="./assets/home-header/image/product-image/zane-grey.jpeg"-->
          <!--                                 alt="Flycame"></a>-->
          <!--              </div>-->
          <!--              <div class="product-title">-->
          <!--                <h5>-->
          <!--                  <a href="/">Zane Grey - Vanishing American (First Edition)</a>-->
          <!--                </h5>-->
          <!--              </div>-->
          <!--              <div class="product-price">-->
          <!--                <p style="color: #838386;">Current Price ($):</p>-->
          <!--                <h5>190</h5>-->
          <!--              </div>-->
          <!--              <div class="product-btn">-->
          <!--                <a class="btn button-auction-product" href="/">AUCTION</a>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          &lt;!&ndash;  &ndash;&gt;-->

          <!--          &lt;!&ndash; Sản phẩm 5 &ndash;&gt;-->
          <!--          <div class="col-xl-3 col-md-6 col-lg-6 col-sm-6">-->
          <!--            <div class="product-auction">-->
          <!--              <div class="product-counter-inner">-->
          <!--                <div>REMAINING TIME: <span style="color: #fff;">00:20:50</span></div>-->
          <!--              </div>-->
          <!--              <div class="product-image">-->
          <!--                <a href="/"><img src="./assets/home-header/image/product-image/lenovo.jpeg" alt="Flycame"></a>-->
          <!--              </div>-->
          <!--              <div class="product-title">-->
          <!--                <h5>-->
          <!--                  <a href="/">Lenovo K5 Note 4G-->
          <!--                    Phablet</a>-->
          <!--                </h5>-->
          <!--              </div>-->
          <!--              <div class="product-price">-->
          <!--                <p style="color: #838386;">Current Price ($):</p>-->
          <!--                <h5>85</h5>-->
          <!--              </div>-->
          <!--              <div class="product-btn">-->
          <!--                <a class="btn button-auction-product" href="/">AUCTION</a>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          &lt;!&ndash;  &ndash;&gt;-->

          <!--          &lt;!&ndash; Sản phẩm 6 &ndash;&gt;-->
          <!--          <div class="col-xl-3 col-md-6 col-lg-6 col-sm-6">-->
          <!--            <div class="product-auction">-->
          <!--              <div class="product-counter-inner">-->
          <!--                <div>REMAINING TIME: <span style="color: #fff;">00:13:55</span></div>-->
          <!--              </div>-->
          <!--              <div class="product-image">-->
          <!--                <a href="/"><img src="./assets/home-header/image/product-image/classic.jpeg" alt="Flycame"></a>-->
          <!--              </div>-->
          <!--              <div class="product-title">-->
          <!--                <h5>-->
          <!--                  <a href="/">Classic Accessories Roanoke Inflatable Pontoon Boat</a>-->
          <!--                </h5>-->
          <!--              </div>-->
          <!--              <div class="product-price">-->
          <!--                <p style="color: #838386;">Current Price ($):</p>-->
          <!--                <h5>300</h5>-->
          <!--              </div>-->
          <!--              <div class="product-btn">-->
          <!--                <a class="btn button-auction-product" href="/">AUCTION</a>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          &lt;!&ndash;  &ndash;&gt;-->

          <!--          &lt;!&ndash; Sản phẩm 7 &ndash;&gt;-->
          <!--          <div class="col-xl-3 col-md-6 col-lg-6 col-sm-6">-->
          <!--            <div class="product-auction">-->
          <!--              <div class="product-counter-inner">-->
          <!--                <div>REMAINING TIME: <span style="color: #fff;">00:03:50</span></div>-->
          <!--              </div>-->
          <!--              <div class="product-image">-->
          <!--                <a href="/"><img src="./assets/home-header/image/product-image/desk.jpeg" alt="Flycame"></a>-->
          <!--              </div>-->
          <!--              <div class="product-title">-->
          <!--                <h5>-->
          <!--                  <a href="/">Executive Victorian Desk With Rosa La Vanta Marble</a>-->
          <!--                </h5>-->
          <!--              </div>-->
          <!--              <div class="product-price">-->
          <!--                <p style="color: #838386;">Current Price ($):</p>-->
          <!--                <h5>67</h5>-->
          <!--              </div>-->
          <!--              <div class="product-btn">-->
          <!--                <a class="btn button-auction-product" href="/">AUCTION</a>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          &lt;!&ndash;  &ndash;&gt;-->

          <!--          &lt;!&ndash; Sản phẩm 8 &ndash;&gt;-->
          <!--          <div class="col-xl-3 col-md-6 col-lg-6 col-sm-6">-->
          <!--            <div class="product-auction">-->
          <!--              <div class="product-counter-inner">-->
          <!--                <div>REMAINING TIME: <span style="color: #fff;">00:23:50</span></div>-->
          <!--              </div>-->
          <!--              <div class="product-image">-->
          <!--                <a href="/"><img src="./assets/home-header/image/product-image/biomega.jpeg" alt="Flycame"></a>-->
          <!--              </div>-->
          <!--              <div class="product-title">-->
          <!--                <h5>-->
          <!--                  <a href="/">Biomega- PEK – Bicicleta Carga</a>-->
          <!--                </h5>-->
          <!--              </div>-->
          <!--              <div class="product-price">-->
          <!--                <p style="color: #838386;">Current Price ($):</p>-->
          <!--                <h5>225</h5>-->
          <!--              </div>-->
          <!--              <div class="product-btn">-->
          <!--                <a class="btn button-auction-product" href="/">AUCTION</a>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          &lt;!&ndash;  &ndash;&gt;-->

          <!--          &lt;!&ndash; Sản phẩm 9 &ndash;&gt;-->
          <!--          <div class="col-xl-3 col-md-6 col-lg-6 col-sm-6">-->
          <!--            <div class="product-auction">-->
          <!--              <div class="product-counter-inner">-->
          <!--                <div>REMAINING TIME: <span style="color: #fff;">00:09:50</span></div>-->
          <!--              </div>-->
          <!--              <div class="product-image">-->
          <!--                <a href="/"><img src="./assets/home-header/image/product-image/flycam.jpeg" alt="Flycame"></a>-->
          <!--              </div>-->
          <!--              <div class="product-title">-->
          <!--                <h5>-->
          <!--                  <a href="/">Typhoon 4K Quadcopter with Carrying Case — Black</a>-->
          <!--                </h5>-->
          <!--              </div>-->
          <!--              <div class="product-price">-->
          <!--                <p style="color: #838386;">Current Price ($):</p>-->
          <!--                <h5>125</h5>-->
          <!--              </div>-->
          <!--              <div class="product-btn">-->
          <!--                <a class="btn button-auction-product" href="/">AUCTION</a>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          &lt;!&ndash;  &ndash;&gt;-->

        </div>
      </div>
    </div>

  </div>

  <div class="footer">

  </div>
</div>

